<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Slug</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses }}
                <tr>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.slug}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>{{this.updatedAt}}</td>
                    <td><a href="/courses/create">Create</a></td>
                    <td><a href="/courses/{{this._id}}/edit">Edit</a></td>
                    <td><a href="" data-toggle="modal" data-target="#modelId" data-id="{{this._id}}">Delete</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    Add rows here
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<form name="delete-form" method="post"></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var btnDeleteCourse = document.querySelector('#btn-delete-course');
        var deleteForm = document.forms['delete-form'];
        $('#modelId').on('show.bs.modal', event => {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            courseId = id;
        });
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }
    });
</script>